body{
    margin: 0px;
}

.header{
    width: 100vw;
    height: 20vh;
    border-bottom: solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
}

.center{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.logo{
    height: 80%;
    max-height: 48px;
}

.input{
    margin-left: 10px;
    margin-right: 10px;
    width: 80vw;
    max-width: 1100px;
    font-size: 24px;
    min-height: 5vh;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
}

.check{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.check label{
    font-size: 36px;
}

.check input{
    height: 36px;
    width: 36px;
}


.input-label{
    font-size: 48px;
}

#temp{
    visibility: hidden !important;
    height: 0px !important;
}

#rand{
    font-size: 48px;
    margin-left: 20px;
    margin-right: 20px;
}

#loading{
    visibility: hidden;
    font-size: 36px;
    text-align: center;
}

.button {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    border-radius: 20px;
}

